.root {
  text-align: center;
}

.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cont > div {
  flex: 1;
}

.name {
  font: 400 28px/1 var(--font-title);
  color: var(--secondary);
}

.name::first-letter {
  text-transform: uppercase;
}

.id {
  font: 400 16px/1.4 var(--font-text);
  color: var(--muted);
}

.img {
  max-width: 260px;
  height: 260px;
  margin: 20px auto;
  text-align: center;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.about {
  font: 400 20px/1.4 var(--font-text);
}

.cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 520px;
  margin: 20px auto;
  padding: 20px;

  font: 400 20px/1.4 var(--font-text);

  background-color: white;
  border-radius: 6px;
  border: 3px solid var(--secondary);
}

.cols div p:last-child {
  color: var(--muted);
}

.cols p::first-letter {
  text-transform: uppercase;
}

.cols__head {
  grid-column: 1 / -1;
}

.cols__head span {
  display: inline-block;
}

.cols__head span::first-letter {
  text-transform: uppercase;
}

.evolutionWrapper {
  margin-top: 60px;
}

.evolutionWrapper__title {
  margin-bottom: 40px;

  font: 400 26px/1 var(--font-title);
  color: var(--secondary);
}

.evolution {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.evolution__section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.evolution__section > a {
  flex: 0 0 230px;
}

.evolution__arrow {
  flex: 0 0 30px;
}

@media (max-width: 900px) {
  .cont {
    display: block;
  }

  .evolutionWrapper__tree {
    display: flex;
    justify-content: center;
  }

  .evolution {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .evolution__section {
    flex-direction: column;
  }

  .evolution__section > a {
    flex-basis: auto;
    width: 230px;
  }

  .evolution__arrow {
    transform: rotate(90deg);
  }
}
