.root {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 3px;
}

.field {
  flex: 1;
  display: block;
  width: 100%;
  padding: 10px 20px;

  font: 400 18px/1 var(--font-title);
  color: var(--secondary);
  text-align: center;

  background-color: white;
  border-radius: 6px;
  border: 3px solid var(--secondary);
}

.btn {
  flex: 0 0 auto;
}
