:root {
  --font-title: "Changa One", sans-serif;
  --font-text: "Lato", sans-serif;

  --primary: #dc0a2d;
  --secondary: #171717;
  --muted: #9d9d9d;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font: 400 14px/1.2 var(--font-text);
  background-color: #e8e8e8;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

svg {
  width: 100%;
  height: 100%;
}
