.root {
  text-align: center;

  h2 {
    font: 400 160px/1 var(--font-title);
    font-style: italic;
    color: var(--secondary);
    letter-spacing: 20px;
  }

  svg {
    width: 300px;
    margin-top: -30px;
  }
}
